@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .rotate-animation {
      animation: spinOnce 0.5s ease-in-out;
    }
  
    @keyframes spinOnce {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  