@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .rotate-animation {
        animation: spinOnce 0.5s ease-in-out;
    }

    @keyframes spinOnce {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.navbar-bg {
    @apply bg-white/80 backdrop-blur-md dark:bg-slate-800/80;
}

.navbar-fixed-dashboard {
    @apply fixed top-4 left-[17rem] right-0 z-[1000] rounded-2xl 
         bg-white/80 dark:bg-slate-800/80 shadow-md;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-primary;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}
